#home .carousel-item{
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.background1{
    background-image: url(asset/images/backfround/bg1.avif);
}
.background2{
    background-image: url(asset/images/backfround/bg2.avif);
}
.background3{
    background-image: url(asset/images/backfround/bg3.avif);
}
.skill{
    margin-top: 20px;
}

#aboutme{
    background-image: url(asset/images/Bio/bg.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: center;
    background-position-y: top;
}
.experience{
    margin-top: 24px;
}